* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
} 
body{
    margin: 0;
    padding: 0;
    background-color: #D9D2B0;
}
.lista-que-vamos-apagar {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#catalogue {
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    position: static;
    background-color: #D9D2B0;
}

/* CAROUSEL */
.films-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner{
    width: 100%;
    padding: 15px;
    margin: 20px;
    background-color: #EFEBD5;
}
.title{
    text-align: center;
    font-size: 18px;
    color: #64312F;
}
.image{
    width: 180px;
    height: 250px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.info{
    width: 39px;
    height: 39px;
    margin-left: 35%;
    border-radius: 30px;
    border: #64312F solid 2px;

    display: flex;
    align-items: center;
}

.info span{
    color: #64312F;
    font-size: 36px;
}
#info {
    display: flex;
}
.info-container {
    display: flex;
    justify-content: space-between;
}
.poster-info {
    display: flex;
    width: 60%;
    padding: 20px;

}
.poster-info p {
    padding: 20px;
}
.details {
    width: 40%;
    padding: 30px;
}

/** FOOTER MENU **/
.menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0% 25%;
    position: fixed;
    background-color: #64312F;
    bottom: 0;
    left: 0
}
.button-menu span {
    color: #D9D2B0;
    font-size: 35px;
}
button {
    background-color: transparent;
    border: none;
}
#filters-area {
    background-color: #D9D2B0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin: auto;
}
p {
    padding: 5px;
    color: #64312F;
    font-weight: bolder;
    text-align: justify;
}
.select-genre:hover {
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    background-color: #64312F;
    color: #fff;
}
.select-genre {
    flex-direction: row;
    width: 100px;
    height: 40px;
    left: 205px;
    top: 143px;
    outline-color: #F2D57E;
    align-items: center;
    justify-content: center;
    background: #F2D57E;
    color: #64312F;
    text-shadow: 0px 4px 4px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
.select-country:hover {
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color: #64312F;
    background-color: #64312F;
    color: #fff;
}
.select-country {
    flex-direction: row;
    width: 120px;
    height: 40px;
    left: 250 px;
    top: 143px;
    outline-color: #F2D57E;
    background: #F2D57E;
    color: #64312F;
    border: none;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px;
    border-radius: 10px;
}
.score-imdb :hover {
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color: #64312F;
    background-color: #64312F;
    color: #fff;
}
.score-imdb {
    margin: 10px;
    flex-direction: row;
    width: 100px;
    height: 40px;
    left: 595px;
    top: 143px;
    align-items: center;
    justify-content: center;
    background: #F2D57E;
    border-radius: 10px;
}
.year-movie :hover {
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color: #64312F;
    background-color: #64312F;
    color: #fff;
}
.year-movie {
    margin: 10px;
    flex-direction: row;
    width: 100px;
    height: 40px;
    left: 595px;
    top: 143px;
    align-items: center;
    justify-content: center;
    background: #F2D57E;
    border-radius: 10px;
}
.time:hover {
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color: #64312F;
    background-color: #64312F;
    color: #fff;
}
.time {
    margin: 10px;
    flex-direction: row;
    width: 100px;
    height: 40px;
    left: 595px;
    top: 143px;
    align-items: center;
    justify-content: center;
    background: #F2D57E;
    border-radius: 10px;
}
#btn-filter:hover{
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color: #64312F;
    background-color: #64312F;
    color: #fff;
}
#btn-filter {
    margin: 10px;
    display:flex;
    width: 100px;
    height: 40px;
    left: 984px;
    top: 143px;
    align-items: center;
    justify-content: center;
    color: #EFEBD5;
    outline-color: #EFEBD5;
    background: #64312F;
    border-radius: 10px;
}
#btn-clear:hover{
    margin: 10px;
    flex-direction: row;
    transition-duration: 0.4s;
    border-color:#64312F;
    color: #fff;
}
#btn-clear {
    margin: 10px;
    display:flex;
    width: 100px;
    height: 40px;
    left: 984px;
    top: 143px;
    outline-color: #F2D57E;
    color: #64312F;
    align-items: center;
    justify-content: center;
    background:#F2D57E;
    border-radius: 10px;
}
.filter-subtitle {
    text-align: center;
    padding: 3px;
}
#imdb-btn,
#runtime-btn,
#news-btn {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}

/** FOOTER ABOUT US **/
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
footer {
    background-color: #64312F;
    width: 100%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 30px 30px;
}
.left-footer-side {
    flex: 1;
    margin-right: 30px;
    max-width: 600px;
}
.right-footer-side {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
}
.right-footer-side img {
    display: block;
    margin: auto;
}
.devas-list {
    line-height: 21px;
}
.devas {
    color: #D9D2B0;
    font-size: 14px;
    line-height: 16px;
    font-weight: lighter;
    padding: 0px 8px;
}
.devas:hover {
    text-decoration: line-through;
}
.title-footer {
    color: #D9D2B0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.text-footer {
    color: #D9D2B0;
    font-size: 14px;
    line-height: 21px;
    font-weight: lighter;
}

/*HEADER*/

.header-container {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    position: fixed;
    background-color: #D9D2B0;
    box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.15);
    left: 0;
}
.header-body {
    display: flex;
    justify-content: flex-start;
    max-width: 90vw;
}
.logo-header {
    height: 6rem;
}
.logo-header {
    height: 5rem;

    width: auto;
    margin-right: 2rem;
}
.search-title-director {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    width: 50%;
    height: 10%;
    margin-top: 42px;
    margin-left: 10%;
    background-color: #D9D2B0;
    font-size: 16px;
}
.icon-search {
    margin-top: 46px;
    margin-left: -20px;
}
.btn-login, .btn-register {
    text-align: center;
}
.icon-search {
    margin-top: 2rem;
    margin-right: 6rem;
}
.btn-login,
.btn-register {
    margin-right: 1rem;
    margin-top: 1.8rem;
    height: 4vh;
    width: 8vw;
    border: 2px solid #BF2604;
    border-radius: 6px;
    border-color: #BF2604;
    color: #BF2604;
    background-color: #D9D2B0;
}
.btn-login:hover {
    border-color: #BF2604;
    background-color: #BF2604;
    color: #fff;
}
.btn-register:hover {
    border-color: #BF2604;
    background-color: #BF2604;
    color: #fff;
}
.header-user {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
    color: #BF2604;
}
.icon-heart {
    margin-top: 1.8rem;
    margin-right: 1rem;
    border-color: #BF2604;
    color: #BF2604;
}
.hidden {
    display: none;
}
.showing {
    display: none;
}
.showing.display {
    display: block;
}
.body-container{
    padding-top: 150px;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px;
}
.card-list{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
}
.title-list{
    font-weight: bolder;
    font-size: 16px;
    color: #30261D;
    text-align: center;
}
.poster-list{
    max-width: 315px; 
    height: auto;
}
.list-name{
    font-size: 24px;
    font-weight: bolder;
    color: #64312F;
    text-align: center;
}
#info-details{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    max-width: 1200px;
    margin: auto;
}
.plot-box{
    flex: 2;
}
.poster-details, .sub-details-section {
    flex: 1;
}
.plot-box, .poster-details, .sub-details-section {
    padding: 0px 15px;
}
.sub-details-section{
    min-width: 300px;
}
#root{
    padding-bottom: 50px;
}
.title-movie-details{
    text-align: left;
    font-size: 20px;
    color: #64312F;
  }
.subtitle-1{
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    color: #30261D;
}
.like span{
    color: #2c8041;
    font-size: 35px;
}
.dislike span{
    color: #BF2604;
    font-size: 35px;
}
.save span, .close-detail span{
        color:  #64312F;
        font-size: 35px;
}
.buttons-details{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.container-register {
    padding-top: 15px;
    background-color: #eedfb2;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
    
#logo-register img {
    max-width: 250px;
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
#title-register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 28px;
}
    
#inputs-register {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    color: #231911;
    font-weight: bolder;
}

    #submit-data {
    margin-top: 10%;
    height: 50px;
    width: 255px;
    border-radius: 15px;
    color: #ffffff;
    font-size:18px ;
    background-color: #BF2604 ;
}

.new-user {
    background-color: #eedfb2;
    width: 255px; 
    border: none;
    border-bottom: 1.5px solid #231911;
    padding: 8px;
    outline-color: #30261D;
    margin-bottom: 25px; 
}
    

@media (max-width: 375px) {
    .menu {
        padding: 0% 5%;
    }

    .right-footer-side img {
        display: none;
    }

    .title-wrapper {
        width: 100%;
        margin-top: 30px;
    }
    #info-details{
        max-width: 300px;
    }
    .title-movie-details, .subtitle-1, .title-details{
        text-align: center;
    }
    .sub-details-section{
        align-items: center;
    }    
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #c2b888;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:hover {
    background: #D9D2B0;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(105, 109, 109);
    border-radius: 2px;
}