body {
  height: 100%;
  width: 100%;
  background-color: rgb(3, 3, 51);
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  height: 40%;
  width: 40%;
}

#generos {
  height: 5vh;
  width: 17vw;
  border-radius: 10px;
  margin-left: 3%;
}

p {
  color: aliceblue;
}

#footer {
  text-align: center;
  font-weight: 600;
}

#footer a {
  color: rgb(255, 251, 2);
  text-shadow: rgb(252, 249, 249) 1px 1px 1px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-align: center;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#root img {
  width: 30%;
  height: 40%;
  padding: 3%;
}