body {
  margin: 0;
  padding: 0;
  font-family: Krona One;
  font-size: 14px;
}

.slider {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

.lista {
  text-align: center;
  margin: 1vh;
  border: 2px rgba(0, 0, 0, 0.8) solid;
  border-radius: 5px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
}

.slider figure {
  position: relative;
  margin: 1px;
}

.slider figure img {
  width: 100vw;
  height: 100vh;
  float: left;
  opacity: 0.3;
  object-fit: cover;
}

.button-start, .button-login, .button-google, .button-signOut, .btnWatchList, .btnToWatchList {
  background-color: #000000;
  color: white;
  box-shadow: 4px 4px 4px #000000;
  border-radius: 5px;
  font-size: 14px;
  font-family: Krona One;
  text-transform: uppercase;
  width: 320px;
  height: 35px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
  margin: 20px 0
}

.button-start, .button-signOut {
  border-style: solid;
  border-color: white;
}

.or {
  margin: 0;
}

.banner {
  width: 100vw;
  position: absolute;
  top: 5%;
  text-align: center;
}

.banner img {
  margin: 5vh 10vh;
}

h1.text-banner-title, .text-banner-main, .text-banner, .text-watched, .text-toWatch {
  margin-left: 2px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 30px;
}

.text-banner-title {
  font-size: 15px;
  margin: 20px 0;
}

.text-banner-main, .text-watched, .text-toWatch {
  font-size: 14px;
  margin-bottom: 50px;
}

.text-watched, .text-toWatch {
  margin: 0;
}

.text-banner {
  font-size: 12px;
}

.input-login, .input-password {
  width: 320px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Krona One;
  text-transform: uppercase;
  margin: 20px 0;
}

.infoText {
  color: rgb(143, 140, 140);
  font-size: 0.7rem;
  width: 90vw;
  margin: 0 0 0 0;
}

.container-login {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-login {
  margin: 5vh;
} 

.box-login form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-size: 1rem;
}

.marginText {
  margin-top: 10vh;
}

.create-account {
  color: #000000;
}

.lista figure img {
  height: 40vh;
}

.menu-position {
  position: absolute;
  padding: 10vh 1vh;
}

.bgList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.backgroundPoster {
  width: 170px;
  height: 270px;
  margin: 15px 2px 0 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c4c4c4;
}

.poster {
  width: 150px;
  height: 220px;
  margin-top: 10px;
}

.btnAdd {
  display: flex;
  margin-top: 5px;
}

.btnAdd button {
  width: 75px;
  height: 20px;
  margin: 0 1px 0 1px;
  font-size: 8px;
  color: #ffffff;
  background-color: #000000;
  font-family: "Krona One", sans-serif;
  border-radius: 3px;
  border: none;
}

nav.nav-watchList {
  background-color: #000000;
  display: flex;
  width: 98vw;
  height: 15vh;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  padding: 5px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
}

img.logo-header {
  margin-top: 10px;
}

.menu-list {
  list-style: none;
  display: flex;
  color: #ffffff;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.menu-bar ul {
  padding: 0px;
}

.menu-bar li {
  padding: 8px;
}

#sign-out {
  width: 20vw;
  justify-content: center;
  font-size: 12px;
}

.toWatch, .watched {
  height: 20px;
  margin: 10px 0 0 10px; 
}

.none {
  display: none;
}
