* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, normal, normal;
} 
#catalogue {
    display: flex;
}
.films-container {
    display: flex;
}
.movie-box{
    width: 100%;
    border: 1px solid darkgray;
    padding: 10px;
    margin: 10px;
}
.movie-box img {
  width: 300px;
  height: 385px;
}
.details {
    display: none;
}
.title {
    text-align: center;
}

#info {
    display: flex;
}
.info-container {
    display: flex;
    justify-content: space-between;
}
.poster-info {
    display: flex;
    width: 60%;
    padding: 20px;

}
.poster-info p {
    padding: 20px;
}

.details {
    width: 40%;
    padding: 30px;
}


/** FOOTER MENU **/
.menu{
    background-color: #64312F;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0% 25%;
    position: fixed;
    bottom: 0;
    left: 0
}
.button-menu span {
    color: #D9D2B0;
    font-size: 35px;
}
button {
    background-color: transparent;
    border: none;
}

/** FOOTER ABOUT US **/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer{
    background-color: #64312F;
    width: 100%;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 30px 30px;
}
.left-footer-side{
    flex: 1;
    margin-right: 30px;
    max-width: 600px;
}
.right-footer-side{
    display: flex;
    flex-wrap: wrap;
    width: 345px;
}
.right-footer-side img {
    display: block; 
    margin: auto;
}
.devas-list{
    line-height: 21px;
}
.devas{
    color: #D9D2B0;
    font-size: 14px;
    line-height: 16px;
    font-weight: lighter;
    padding: 0px 8px;
}
.devas:hover {
    text-decoration: line-through;
}
.title-footer{
    color: #D9D2B0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.text-footer{
    color: #D9D2B0;
    font-size: 14px;
    line-height: 21px;
    font-weight: lighter;
}       

/*HEADER*/

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: #D9D2B0;
    box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.15);
  }
  
  .header-body {
    display: flex;
    justify-content: flex-start;
    max-width: 90vw;
  }
  
  .logo-header {
    height: 5rem;
    width: auto;
    margin-right: 2rem;
  }
  
  .search-title-director {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    width: 40vw;
    height: 8vh;
    background-color: #D9D2B0;
    text-align: center;
  }
  
  .icon-search {
    margin-top: 2rem;
    margin-right: 8rem;
  }
  
  .btn-login {
    margin-right: 1rem;
    margin-top: 1.8rem;
    height: 4vh;
    width: 8vw;
    border-radius: 6px;
    border-color: #BF2604;
    color: #BF2604;
    background-color: #D9D2B0;
  }
  
  .btn-register {
    margin-right: 1rem;
    margin-top: 1.8rem;
    height: 4vh;
    width: 8vw;
    border-radius: 6px;
    border-color: #BF2604;
    color: #BF2604;
    background-color: #D9D2B0;
  }
  
  .btn-login:hover {
    border-color: #BF2604;
    background-color: #BF2604;
    color: #fff;
  }
  
  .btn-register:hover {
    border-color: #BF2604;
    background-color: #BF2604;
    color: #fff;
  }
  
  .header-user {
    margin-right: 0.5rem;
    margin-top: 2rem;
    color: #BF2604;
  }
  
  .icon-heart {
    margin-top: 1.6rem;
    margin-right: 1rem;
    border-color: #BF2604;
    color: #BF2604;
  }
  
  .hidden {
    display: none;
  }

@media (max-width: 375px) {
    .menu{
        padding: 0% 5%;
    }
    .right-footer-side img {
        display: none;
    }
    .title-wrapper{
        width: 100%;
        margin-top: 30px;
    }
}

